@import './mixin.scss';

// 按钮通用样式
.operate-btn {
  width: 100%;
  margin: 20px 0;
  color: #fff;
  font-size: 17px;
  border-radius: 30px;
}
//两边对齐
.flex-between {
  display: flex !important;
  // align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex !important;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}
