@import './variables.scss';

$alpha: 0.8 0.75 0.65 0.5;

@each $num in $alpha {
  .alpha-#{$num * 100} {
    opacity: #{$num};
  }
}

@for $i from 1 through 10 {
  $num: $i * 2;
  // padding
  .p-#{$num} {
    padding: #{$num}px;
  }
  .p-t-#{$num} {
    padding-top: #{$num}px;
  }
  .p-r-#{$num} {
    padding-right: #{$num}px;
  }
  .p-b-#{$num} {
    padding-bottom: #{$num}px;
  }
  .p-l-#{$num} {
    padding-left: #{$num}px;
  }
  // margin
  .m-#{$num} {
    margin: #{$num}px;
  }
  .m-t-#{$num} {
    margin-top: #{$num}px;
  }
  .m-r-#{$num} {
    margin-right: #{$num}px;
  }
  .m-b-#{$num} {
    margin-bottom: #{$num}px;
  }
  .m-l-#{$num} {
    margin-left: #{$num}px;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.word-break {
  word-break: break-all;
}

.page-container {
  height: 100vh;
  overflow-y: auto;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  flex-direction: column;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.flex-center-around {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}

.inline-flex {
  display: inline-flex;
  align-items: inherit;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.empty-block {
  width: 100%;
  height: 100px;
  color: $color-gray;
  @include flex-center;
}

/* 底部区域 */
.foot-section {
  position: fixed;
  display: block;
  text-align: center;
  bottom: 20px;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  color: $color-note;
}
